<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>
      <ul>
        <% @favorite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label "Filme" %>
          <%= f.collection_select :movie_id, @movies, :id, :name, {}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label "Usuario" %>
          <%= f.collection_select :user_id, @users.all, :id, :username, {}, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
